﻿@model FoodDeliveryOrderApp.Core.Models.Institution

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="block">
    <h2 class="block-title">Добавление</h2>

    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create" asp-controller="Institution" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="InstitutionType" class="control-label"></label>
                    <select asp-for="InstitutionType" asp-items="Html.GetEnumSelectList<FoodDeliveryOrderApp.Core.Enums.InstitutionType>()" class="form-control">
                        <option id="ALL">Выберите тип заведения!</option>
                    </select>
                    <span asp-validation-for="InstitutionType" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Image" class="control-label"></label>
                    <input type="file" id="file" name="file" asp-for="Image" class="form-control" />
                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="btn-group" role="group">
                        <button type="submit" class="btn btn-success form-submit"><i class="fa fa-save" aria-hidden="true" title="Сохранить" data-toggle="tooltip" data-placement="top"></i> Сохранить</button>
                        <a href="@Url.Action("Index", "Institution")" class="btn btn-info"><i class="fa fa-arrow-left" aria-hidden="true" title="Назад" data-toggle="tooltip" data-placement="top"></i> Назад</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}