﻿@model FoodDeliveryOrderApp.Core.Models.Institution

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="block">
    <h2 clss="block-title">Подробная информация</h2>

    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.InstitutionType)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.InstitutionType)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Image)
            </dt>
            <dd>
                <img class="img-thumbnail" style="width:15%; height:15%" src="~/images/@Model.Image" />
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
        </dl>
    </div>
    <div>
        <hr />
        <div class="content">
            <h2 clss="block-title">Меню</h2>
            <table class="table table-responsive-sm table-responsive-md table-responsive-lg table-sm">
                <thead>
                    <tr>
                        <th>Блюдо</th>
                        <th>Цена (сом)</th>
                        <th>Описание</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model.Dishes)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Name)</td>
                            <td>@Html.DisplayFor(modelItem => item.Price)</td>
                            <td>@Html.DisplayFor(modelItem => item.Description)</td>
                            @if (User.IsInRole(FoodDeliveryOrderApp.Core.Enums.Roles.User.ToString()))
                            {
                                <td>
                                    <a class="btn btn-warning" href="@Url.Action("AddToCart", "ShopCartItem", new { id = item.Id })"> Добавить в корзину</a>
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <hr />
    </div>
    @if (User.IsInRole(FoodDeliveryOrderApp.Core.Enums.Roles.Admin.ToString()))
    {
        <div class="form-group">
            <div class="btn-group" role="group">
                <a href="@Url.Action("Edit", "Institution", new { id = Model.Id})" class="btn btn-success"><i class="fas fa-pencil-alt" aria-hidden="true" title="Редактировать" data-toggle="tooltip" data-placement="top"></i> Редактировать</a>
                <a href="@Url.Action("Index", "Institution")" class="btn btn-info"><i class="fa fa-arrow-left" aria-hidden="true" title="Назад" data-toggle="tooltip" data-placement="top"></i> Назад</a>
            </div>
        </div>
    }
    @if (User.IsInRole(FoodDeliveryOrderApp.Core.Enums.Roles.User.ToString()))
    {
        <div class="form-group">
            <div class="btn-group" role="group">
                <a href="@Url.Action("Index", "Institution")" class="btn btn-info"><i class="fa fa-arrow-left" aria-hidden="true" title="Назад" data-toggle="tooltip" data-placement="top"></i> Назад</a>
            </div>
        </div>
    }
</div>