﻿@{
    ViewData["Title"] = "Заказов нет!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="block-title">Просмотр заказов</h2>
<p>К сожалению у данного заведения нет ни одного заказа!</p>

<a href="@Url.Action("Index", "Institution")" class="btn btn-info"><i class="fa fa-arrow-left" aria-hidden="true" title="Назад" data-toggle="tooltip" data-placement="top"></i> Назад</a>
