﻿@model IEnumerable<FoodDeliveryOrderApp.Core.Models.Institution>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="block">
    <h2 class="block-title">Заведения</h2>

    @if (User.IsInRole(FoodDeliveryOrderApp.Core.Enums.Roles.Admin.ToString()))
    {
        <p>
            <a type="button" class="btn btn-primary" href="@Url.Action("Create", "Institution")"> <i class="fa fa-plus"></i> Добавить новую запись</a>
        </p>
    }

    <div class="content">
        <table class="table table-responsive-sm table-responsive-md table-responsive-lg table-sm">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.InstitutionType)</th>
                    <th>@Html.DisplayNameFor(model => model.Name)</th>
                    <th>@Html.DisplayNameFor(model => model.Image)</th>
                    <th>@Html.DisplayNameFor(model => model.Description)</th>
                    <th>Средняя оценка</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.InstitutionType)</td>
                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                        <td style="width:15%; height:15%">
                            <img class="img-thumbnail" src="~/images/@item.Image" />
                        </td>
                        <td>@Html.DisplayFor(modelItem => item.Description)</td>
                        <td>
                            @if (item.Reviews.Count() != 0)
                            {
                                @foreach (var avgMark in item.Reviews.Average(x => x.Mark).ToString())
                                {
                                    @Html.DisplayFor(modelItem => avgMark)
                                }
                            }
                        </td>
                        <td>
                            @if (User.IsInRole(FoodDeliveryOrderApp.Core.Enums.Roles.Admin.ToString()))
                            {
                                <div class="btn-group float-right" role="group">
                                    <a class="btn btn-success btn-sm" name="editButton" id="editButton" href="@Url.Action("Edit", "Institution", new { id = item.Id })"><i class="fas fa-pencil-alt" aria-hidden="true" title="Редактировать" data-toggle="tooltip" data-placement="top"></i> Редактировать</a>
                                    <a class="btn btn-warning btn-sm" name="detailsButton" id="detailsButton" href="@Url.Action("Details", "Institution", new { id = item.Id })"><i class="fa fa-eye" aria-hidden="true" title="Просмотреть" data-toggle="tooltip" data-placement="top"></i> Просмотреть</a>
                                    <a class="btn btn-danger delete-prompt btn-sm" name="deleteButton" id="deleteButton" href="@Url.Action("Delete", "Institution", new {@item.Id })"><i class="fa fa-trash" aria-hidden="true" title="Удалить" data-toggle="tooltip" data-placement="top"></i> Удалить</a>
                                    <a class="btn btn-info btn-sm" name="orderButton" id="orderButton" href="@Url.Action("InstitutionOrders", "Institution", new { id = item.Id })"><i class="fa fa-book" aria-hidden="true" title="Заказы" data-toggle="tooltip" data-placement="top"></i> Заказы</a>
                                </div>
                            }
                            @if (User.IsInRole(FoodDeliveryOrderApp.Core.Enums.Roles.User.ToString()))
                            {
                                <div class="btn-group float-right" role="group">
                                    <a class="btn btn-warning btn-sm" name="detailsButton" id="detailsButton" href="@Url.Action("Details", "Institution", new { id = item.Id })"><i class="fa fa-eye" aria-hidden="true" title="Просмотреть" data-toggle="tooltip" data-placement="top"></i> Просмотреть</a>
                                    <a class="btn btn-info btn-sm" name="reviewButton" id="reviewButton" href="@Url.Action("Create", "Review", new { institutionId = item.Id })"><i class="fa fa-eye" aria-hidden="true" title="Оставить отзыв" data-toggle="tooltip" data-placement="top"></i> Оставить отзыв</a>
                                </div>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>