﻿@using FoodDeliveryOrderApp.WEB.ViewModels
@model IEnumerable<InstituionOrdersViewModel>

@{
    ViewData["Title"] = "Просмотр заказов";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="block">
    <h2 class="block-title">Просмотр заказов</h2>

    <div class="content">
        <table class="table table-responsive-sm table-responsive-md table-responsive-lg table-sm">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.InstitutionName)</th>
                    <th>@Html.DisplayNameFor(model => model.FullName)</th>
                    <th>@Html.DisplayNameFor(model => model.DateOrder)</th>
                    <th>@Html.DisplayNameFor(model => model.DishName)</th>
                    <th>@Html.DisplayNameFor(model => model.Quantity)</th>
                    <th>@Html.DisplayNameFor(model => model.Price)</th>
                    <th>@Html.DisplayNameFor(model => model.Sum)</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.InstitutionName)</td>
                        <td>@Html.DisplayFor(modelItem => item.FullName)</td>
                        <td>@Html.DisplayFor(modelItem => item.DateOrder)</td>
                        <td>@Html.DisplayFor(modelItem => item.DishName)</td>
                        <td>@Html.DisplayFor(modelItem => item.Quantity)</td>
                        <td>@Html.DisplayFor(modelItem => item.Price)</td>
                        <td>@Html.DisplayFor(modelItem => item.Sum)</td>
                    </tr>
                }
            </tbody>
        </table>
        <a href="@Url.Action("Index", "Institution")" class="btn btn-info"><i class="fa fa-arrow-left" aria-hidden="true" title="Назад" data-toggle="tooltip" data-placement="top"></i> Назад</a>
    </div>
</div>