﻿@model IEnumerable<FoodDeliveryOrderApp.Core.Models.ShopCartItem>

@{
    ViewData["Title"] = "Корзина";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="block">
    <h2 class="block-title">Корзина</h2>

    <div class="content">
        <table class="table table-responsive-sm table-responsive-md table-responsive-lg table-sm">
            <thead>
                <tr>
                    <th>Наименование блюда</th>
                    <th>Количество</th>
                    <th>Цена</th>
                    <th>Итого</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Dish.Name</td>
                        <td>@item.Quantity</td>
                        <td>@item.Dish.Price</td>
                        <td>@(item.Quantity * item.Dish.Price)</td>
                        <td>
                            <a class="btn btn-warning" href="@Url.Action("RemoveFromCart", "ShopCartItem", new { id = item.DishId })"> Удалить</a>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td>Итого:</td>
                    <td></td>
                    <td></td>
                    <td>@ViewBag.ComputeTotalValue</td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<div class="btn-group float-right" role="group">
    <div class="btn-group float-right" role="group">
        <a class="btn btn-success btn-sm" name="orderButton" id="orderButton" href="@Url.Action("Checkout", "Order")"><i class="fa fa-cart" aria-hidden="true" title="Оплатить" data-toggle="tooltip" data-placement="top"></i> Оплатить</a>
        <a class="btn btn-info btn-sm" name="backButton" id="backButton" href='javascript:history.go(-1)'><i class="fa fa-arrow-left" aria-hidden="true" title="Продолжить покупки" data-toggle="tooltip" data-placement="top"></i> Продолжить покупки</a>
    </div>
</div>