﻿@model FoodDeliveryOrderApp.Core.Models.Order

@{
    ViewData["Title"] = "Оформление заказа";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="block">
    <h2 class="block-title">Оформление заказа</h2>

    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Checkout" asp-controller="Order" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="FullName" class="control-label"></label>
                    <input asp-for="FullName" class="form-control" />
                    <span asp-validation-for="FullName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Address" class="control-label"></label>
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Phone" class="control-label"></label>
                    <input asp-for="Phone" class="form-control" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success form-submit"><i class="fa fa-save" aria-hidden="true" title="Завершить заказ" data-toggle="tooltip" data-placement="top"></i> Завершить заказ</button>
                    <a class="btn btn-info btn-sm" name="backButton" id="backButton" href='javascript:history.go(-1)'><i class="fa fa-arrow-left" aria-hidden="true" title="Назад" data-toggle="tooltip" data-placement="top"></i> Назад</a>
                </div>
            </form>
        </div>
    </div>
</div>