﻿@model FoodDeliveryOrderApp.Core.Models.Dish

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="block">
    <h2 class="block-title">Удаление</h2>

    <h3>Вы действительно хотите удалить эту запись?</h3>

    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Institution)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Institution.Name)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <div class="btn-group" role="group">
                    <button type="submit" class="btn btn-success form-submit"><i class="fa fa-save" aria-hidden="true" title="Да" data-toggle="tooltip" data-placement="top"></i> Да</button>
                    <a href="@Url.Action("Index", "Dish")" class="btn btn-info"><i class="fa fa-arrow-left" aria-hidden="true" title="Нет" data-toggle="tooltip" data-placement="top"></i> Нет</a>
                </div>
            </div>
        </form>
    </div>
</div>