﻿@model IEnumerable<FoodDeliveryOrderApp.Core.Models.Dish>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="block">
    <h2 class="block-title">Блюда</h2>

    @if (User.IsInRole(FoodDeliveryOrderApp.Core.Enums.Roles.Admin.ToString()))
    {
        <p>
            <a type="button" class="btn btn-primary" href="@Url.Action("Create", "Dish")"> <i class="fa fa-plus"></i> Добавить новую запись</a>
        </p>
    }

    <div class="content">
        <table class="table table-responsive-sm table-responsive-md table-responsive-lg table-sm">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Name)</th>
                    <th>@Html.DisplayNameFor(model => model.Price)</th>
                    <th>@Html.DisplayNameFor(model => model.Description)</th>
                    <th>@Html.DisplayNameFor(model => model.Institution)</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.Price)</td>
                        <td>@Html.DisplayFor(modelItem => item.Description)</td>
                        <td>@Html.DisplayFor(modelItem => item.Institution.Name)</td>
                        <td>
                            @if (User.IsInRole(FoodDeliveryOrderApp.Core.Enums.Roles.Admin.ToString()))
                            {
                                <div class="btn-group float-right" role="group">
                                    <div class="btn-group float-right" role="group">
                                        <a class="btn btn-success btn-sm" name="editButton" id="editButton" href="@Url.Action("Edit", "Dish", new { id = item.Id })"><i class="fas fa-pencil-alt" aria-hidden="true" title="Редактировать" data-toggle="tooltip" data-placement="top"></i> Редактировать</a>
                                        <a class="btn btn-warning btn-sm" name="detailsButton" id="detailsButton" href="@Url.Action("Details", "Dish", new { id = item.Id })"><i class="fa fa-eye" aria-hidden="true" title="Просмотреть" data-toggle="tooltip" data-placement="top"></i> Просмотреть</a>
                                        <a class="btn btn-danger delete-prompt btn-sm" name="deleteButton" id="deleteButton" href="@Url.Action("Delete", "Dish", new {@item.Id })"><i class="fa fa-trash" aria-hidden="true" title="Удалить" data-toggle="tooltip" data-placement="top"></i> Удалить</a>
                                    </div>
                                </div>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>